<!doctype html>
<head>
  <meta charset="utf-8">

  <title>Meine Aktionen</title>
  <?php
    session_start();
    if (isset($_SESSION['parseData']['user'])) 
    {
  ?>
  <meta name="description" content="My Parse App">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="import" href="polymer/bower_components/polymer/polymer.html">
  <link rel="import" href="polymer/bower_components/paper-button/paper-button.html">
  <link href="polymer/bower_components/paper-drawer-panel/paper-drawer-panel.html" rel="import">
  <link href="polymer/bower_components/paper-header-panel/paper-header-panel.html" rel="import">
  <link href="polymer/bower_components/paper-toolbar/paper-toolbar.html" rel="import">
  <link href="polymer/bower_components/paper-icon-button/paper-icon-button.html" rel="import">
  <link href="polymer/bower_components/paper-material/paper-material.html" rel="import">
  <link href="polymer/bower_components/paper-menu/paper-menu.html" rel="import"> 
  <link href="polymer/bower_components/paper-item/paper-item.html" rel="import">
  <link href="polymer/bower_components/paper-input/paper-input.html" rel="import">
  <link href="polymer/bower_components/paper-input/paper-textarea.html" rel="import">
  <link href="polymer/bower_components/iron-icons/iron-icons.html" rel="import">
  <link href="polymer/bower_components/paper-datatable/paper-datatable.html" rel="import">
  <link href="polymer/bower_components/paper-datatable/paper-datatable-card.html" rel="import">
  <link href="polymer/bower_components/paper-datatable/paper-datatable-column.html" rel="import">
  <link href="polymer/bower_components/paper-datatable/datatable-icons.html" rel="import">
  <link href="polymer/bower_components/paper-datatable/paper-datatable-edit-dialog.html" rel="import">
  <link href="polymer/bower_components/paper-datatable/paper-datatable-styles.html" rel="import">
  <link rel="import" href="polymer/bower_components/paper-dialog/paper-dialog.html">
  <link rel="import" href="polymer/bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
  <link rel="import" href="polymer/bower_components/neon-animation/neon-animations.html">
  
  <script type="text/javascript" src="polymer/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

</head>
<style>
/*body{
  overflow:hidden;
}
paper-card{
  margin-bottom:20px;
  display:block;
}
paper-card {
  --paper-card-header-text: {
    font-family: 'Roboto', 'Noto', sans-serif;
    font-weight: normal;
    font-size: 20px;
  }
}*/


</style>
<body>
  
  <div id="main">
    <template is="dom-bind" id="app">

      <!-- <paper-button on-tap="testClick">TEST</paper-button> -->
     <!--  <paper-card heading="Meine Aktionen">
          <paper-datatable id="aktionenTable" data="{{data}}" selectable multi-selection>
            <paper-datatable-column header="Titel" property="titel" type="String" editable dialog edit-icon sortable sorted>
              <template>
                  <paper-input value="{{value}}" no-label-float maxlength="40" char-counter></paper-input>
                </template>
            </paper-datatable-column>
            <paper-datatable-column header="Beschreibung" property="beschreibung" type="String" editable dialog edit-icon>
              <template>
                  <paper-input value="{{value}}" no-label-float maxlength="400" char-counter></paper-input>
                </template>
            </paper-datatable-column>
            <paper-datatable-column header="Bild" property="bild" type="String" sortable></paper-datatable-column>
          </paper-datatable>
       </paper-card> -->

<paper-dialog id="editDialogAktionen" with-backdrop style="max-width:500px;min-height:300px;">
  <template is="dom-repeat" items="{{selectedItems}}" filter="{{onlyFirst}}">
    <h2>Aktion #<span>{{item.id}}</span></h2>
      <paper-input value="{{item.titel}}" label="Titel"></paper-input>
      <paper-textarea value="{{item.beschreibung}}" label="Beschreibung"></paper-textarea>
    <div class="buttons">
      <paper-button dialog-confirm on-tap="confirmSave">Speichern</paper-button>
    </div>
  </template>
</paper-dialog>

<paper-dialog id="addDialogAktion" with-backdrop style="max-width:500px;min-height:300px;">
  <!-- <template is="dom-repeat"> -->
    <h2>Neue Aktion</span></h2>
      <paper-dialog-scrollable>
        <paper-input value="{{addAktionTitel}}" label="Titel"></paper-input>
        <paper-textarea value="{{addAktionBeschreibung}}" label="Beschreibung"></paper-textarea>
      </paper-dialog-scrollable>
    <div class="buttons">
      <paper-button dialog-confirm on-tap="confirmSave">Speichern</paper-button>
    </div>
  <!-- </template> -->
</paper-dialog>

<paper-dialog id="confirmationDialog" with-backdrop style="max-width:500px;min-height:300px;">
  <template is="dom-repeat" items="{{selectedItems}}" filter="{{onlyFirst}}">
    <h2>Speichern</h2>
      <paper-dialog-scrollable>
        Sind Sie sicher, dass Sie diese Änderungen speichern wollen?<br>Änderungen sind nicht wiederherstellbar.
      </paper-dialog-scrollable>
    <div class="buttons">
      <paper-button dialog-confirm on-tap="saveAktion">Ja</paper-button>
      <paper-button dialog-dismiss>Nein</paper-button>
    </div>
  </template>
</paper-dialog>

<paper-datatable-card id="datatableCardAktionen" header="Aktionen" page-size="10" data-source="{{dataSource}}" id-property="id" selected-ids="{{selectedIds}}" style="width:99%">
          <div toolbar-main>
            <paper-input value="{{searchTerm}}" on-input="retrieveResults" label="Search..." style="display:inline-block" no-label-float>
              <div prefix>
                <iron-icon icon="search"></iron-icon>
              </div>
            </paper-input>
            <paper-icon-button icon="cached" on-tap="retrieveResults"></paper-icon-button>
            <paper-icon-button icon="add" on-tap="addAktion"></paper-icon-button>
          </div>
          <div toolbar-select>
            <paper-icon-button icon="delete" on-tap="deleteSelected"></paper-icon-button>
          </div>
          <div toolbar-select-single>
            <paper-icon-button icon="datatable:editable" on-tap="editDialogForSelected"></paper-icon-button>
          </div>
          <paper-datatable id="datatableAktionen" style="width:99%" selectable multi-selection selected-items="{{selectedItems}}" on-row-tap="rowTapped">
            <div no-results>
              Loading or no more items...
            </div>
            <paper-datatable-column header="ID" property="id" type="String" sortable sorted>
            </paper-datatable-column>
            <paper-datatable-column header="Aktualisiert am" property="updatedAt" type="Date" style="min-width: 320px" sortable>
            <template>
              <div>[[item.updatedAt.date]]</div>
            </template>
            </paper-datatable-column>
            <paper-datatable-column header="Titel" property="titel" type="String" sortable style="min-width: 300px">
            </paper-datatable-column>
            <paper-datatable-column header="Beschreibung" property="beschreibung" type="String" style="min-width: 320px">
            </paper-datatable-column>
            <!-- <paper-datatable-column header="Bild" property="bild" sortable>
          <template>
                <div>
                  <img src="[[item.bild.file]]" style="width:32px;height:32px;border-radius:16px;vertical-align: middle;margin-right:4px;">
                </div>
              </template>
            </paper-datatable-column> -->
          </paper-datatable>
        </paper-datatable-card>



       
        

    <div class="result">
      
    </div>
    </template>
  </div>
  
  <script>

  var app = document.querySelector('#app');
  
  app.testClick = function(e){
    console.log('lalalaa');
    $('.result').load('getdata.php', {'m': 'aktionen'}, function() {
              
    },"json");  
  }
  
  // app.data = [
  //       {id: 0, titel: 'Frozen yogurt', beschreibung: 'bla'},
  //       {id: 1, titel: 'Froz easdfrt', beschreibung: 'bla'}
  //     ];

app.dataSource = {
  get: function(sort, page, pageSize){
      console.log("test");
      return new Promise(function(resolve, reject){
        $.post( "getdata.php", {'m': 'aktionen', 'anliegenId': null}, function( result) {
          var returnedData = jQuery.makeArray( result );
          // var obj;
          // for ( var i = 0, l = returnedData.length; i < l; i++ ) {
          //     obj = returnedData[ i ];
          //     console.log(obj);
          //     return obj;
          // }
          $.each( returnedData, function( key, value ) {
            console.log(value);
            return value;
          });
          
          resolve(returnedData);  
          }, "json");
        });
            
    },
        // get: function(sort, page, pageSize){
        //   return new Promise(function(resolve, reject){
        //     var httpRequest = new XMLHttpRequest();
        //     httpRequest.onreadystatechange = function() {
        //       if (httpRequest.readyState === XMLHttpRequest.DONE) {
        //         if (httpRequest.status === 200) {
        //           var result = JSON.parse(httpRequest.responseText);
        //           var users = result.results.map(function(resultItem){
        //             console.log(resultItem.user);
        //             return resultItem.user;
        //           });
        //           resolve(users);
        //         }
        //       }
        //     };
        //     httpRequest.open('GET', 'http://api.randomuser.me/?nat=US&results='+pageSize);
        //     httpRequest.send();
        //   });
        // },
        // none of the <templates> bind in an editable way right now, but if they would this is the function
        // that's triggered after an edit
        set: function(id, property, value){
          console.info("a save was triggered", arguments);
        },
        length:1
      };
      app.capitalize = function(str){
        return str.toString().split(' ').map(function(str){
          return str.substr(0,1).toUpperCase() + str.substr(1, str.length - 1);
        }).join(' ');
      };
      
      app.deleteSelected = function(){
        app.selectedIds.forEach((id) => {
          var index = users.findIndex((item) => id == item.id);
          users.splice(index, 1);
        });
        this.$.datatableCardAktionen.retrieveVisibleData();
        this.$.datatableCardAktionen.deselectAll();
        saveToLocalStorage();
      };

      app.editDialogForSelected = function(){
        // this.$.editDialogAktionen.opened = true;
        this.$.editDialogAktionen.open();
      };
      app.onlyFirst = function(item, index){
        // if(typeof index === 'undefined'){
        //   alert('Please see issue #34');
        // }
        // if(index == 0){
          return true;
        // }
      };
      app.rowTapped = function(ev){
        if(app.isDebouncerActive('dblclick'+ev.detail.item.id)){
          //double click
          app.$.datatableCardAktionen.deselectAll();
          app.$.datatableCardAktionen.select(ev.detail.item.id);
          app.editDialogForSelected();
          ev.preventDefault();
          app.cancelDebouncer('dblclick');
        }else{
          app.debounce('dblclick'+ev.detail.item.id, function(){}, 300);
        }
      };
      app.retrieveResults = function(ev){
        app.$.datatableCardAktionen.retrieveVisibleData();
      };

      app.confirmSave = function (e) {
        this.$.confirmationDialog.open();
      }

      app.saveAktion = function (e) {
        console.log("save " +app.selectedIds[0]);
        console.log(app.selectedItems);
        if(app.selectedItems != null){
          console.log("save " +app.selectedIds[0]);
          var editAktion = app.selectedItems[0];
          $.post( "adddata.php", {'m': 'addAktion', 'anliegenId': app.selectedIds[0], 'titel': editAktion.titel, 'beschreibung': editAktion.beschreibung}, function( result) {
            console.log(result);
          }, "json");  
        }else {
          console.log("saving new Aktion " +app.addAnliegenTitel);
          $.post( "adddata.php", {'m': 'addAktion', 'titel': app.addAnliegenTitel, 'beschreibung': editAktion.beschreibung}, function( result) {
            console.log(result);
          }, "json");
        }
      }

      app.addAktion = function(e) {
        app.selectedItems = null;
        app.$.addDialogAktion.open();
      }
  // app.dataSource = {
  //   get: function(sort, page, pageSize){
  //     console.log("lkj");
  //     return new Promise(function(resolve, reject){
  //       $.post( "getdata.php", {'m': 'aktionen'}, function( result) {
  //         var returnedData = jQuery.makeArray( result );
  //         console.log(returnedData);
  //         }, "json");
  //       return 0;
  //       });
  //       resolve(returnedData);      
  //   },
  //   set: function(id, property, value){
  //         console.info("a save was triggered", arguments);
  //   },    
  //   length:1
  // };

// app.data = 
//   $.post( "getdata.php", {'m': 'aktionen'}, function( result) {
//     app.data = jQuery.makeArray( result );
//     // console.log(app.data);
//     app.$.aktionenTable.reload();
//   }, "json");


</script>

<?php
  }else{
    header('Location: login.php');
  }
?>
</body>
</html>